#文件夹
.idea
Unity/.idea
Unity/Logs/
Unity/Temp/
Unity/Library/
Unity/obj/
Unity/UserSettings
Unity/GameBundle/
Logs/
Unity/Assets/StreamingAssets/

#文件
*.sln
*.csproj
*.vsconfig
*.suo
*.tmp
Unity/Assets/StreamingAssets.meta